<div class="jumbotron">
  <h1>CodeChallenge</h1>
  <p class="lead">
    Tris Edition
  </p>
</div>
<div class="container-fluid">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="col-lg-4 well"></div>
		<div class="col-lg-4 well"></div>
		<div class="col-lg-4 well"></div>
	</div>
	<div class="col-lg-6 col-lg-offset-3">
		<div class="col-lg-4 well"></div>
		<div class="col-lg-4 well"></div>
		<div class="col-lg-4 well"></div>
	</div>
	<div class="col-lg-6 col-lg-offset-3">
		<div class="col-lg-4 well"></div>
		<div class="col-lg-4 well"></div>
		<div class="col-lg-4 well"></div>
	</div>
</div>
<div class="container-fluid">
	<div class="col-lg-2">
		<i class="fa fa-user-times"></i><span class="label label-primary">{{gamectrl.playerName}}</span>
	</div>
	<div class="col-lg-2 col-lg-offset-8">
		<i class="fa fa-user-secret"></i><span class="label label-primary">Mister E</span>
	</div>
	<div class="col-lg-2 well">
	</div>
	<div class="col-lg-2 col-lg-offset-8 well">
	</div>
</div>